//<Миксины>==================================================
$maxWidth: 1280;
/* ширина макета */

@mixin adaptive-font-size($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
    /* $pcSize - размер шрифта по макету, $mobSize - "ожидаемый" размер шрифта на мобильном (320px) */
}

//<Подключаем шрифты>========================================

//<Шрифт по умолчанию>=======================================
$fontfamily: "";
//<ПЕРЕМЕННЫЕ для брейкпоинтов>==============================
$minwidth: 320px;
$mw: 1170px;
$md1: $mw+12px;
$md2: 992px;
$md3: 768px;
$md4: 480px;
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================
@import "nullstyle.scss";

body {
    color: #fff;
    background-color: #333;
    font-size: 14px;
    &.lock {
        overflow: hidden;
    }
}

//<ОБОЛОЧКА>=================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    // overflow: hidden;
}

//<ОСНОВНАЯ СЕТКА>===========================================
.container {
    max-width: $mw;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $md1) {
        max-width: 970px;
    }

    @media (max-width: $md2) {
        max-width: 750px;
    }

    @media (max-width: $md3) {
        max-width: none;
        padding: 0 10px;
    }
}
//===========================================================

//<ИНТЕРЕСНЫЙ HOVER>=========================================
// &__link {
// 	span {
// 		position: relative;
// 		display: block;
// 		line-height: 28px;
// 		&:after {
// 			content: '';
// 			position: absolute;
// 			left: 50%;
// 			bottom: 0;
// 			width: 0;
// 			height: 1px;
// 			background-color: #007397;
// 			transition: all 0.3s ease 0s;
// 		}
// 	}
// 	&:hover {
// 		color: #007397;
// 		span:after {
// 			left: 0;
// 			width: 100%;
// 		}
// 	}
// }

//<IMAGE-BACKGROUND (IBG)>===================================
// .ibg {
//   	background-position: center;
//   	background-size: cover;
//   	background-repeat: no-repeat; 
//   	img {
//   		display: none;
//   	}
// }

//<ADAPTIVE MENU (BURGER)>===================================
// &__burger {
// 	display: none;
// 	@media (max-width: $md3) {
// 		display: block;
// 		position: relative;
// 		z-index: 10;
// 		width: 30px;
// 		height: 20px;
// 		span {
// 			background-color: #000;
// 			position: absolute;
// 			width: 100%;
// 			height: 2px;
// 			left: 0; /*создаем среднюю часть бургера*/
// 			top: 9px; /*расставляем части бургера по вертикали*/
// 			transition: all 0.3s ease 0s;
// 		}
// 		&:before,
// 		&:after {
// 			content: '';
// 			background-color: #000;
// 			position: absolute;
// 			width: 100%;
// 			height: 2px;
// 			left: 0; /*создаем верхнюю и нижнюю часть бургера*/
// 			transition: all 0.3s ease 0s;
// 		}
// 		&:before {
// 			top: 0; /*расставляем части бургера по вертикали*/
// 		}
// 		&:after {
// 			bottom: 0; /*расставляем части бургера по вертикали*/
// 		}
// 		&.active:before {
// 			transform: rotate(45deg);
// 			top: 9px; /*изменяем бургер на крестик*/
// 		}
// 		&.active:after {
// 			transform: rotate(-45deg);
// 			bottom: 9px; /*изменяем бургер на крестик*/
// 		}
// 		&.active span {
// 			transform: scale(0); /*изменяем бургер на крестик*/
// 		}
// 	}
// }
// &__menu {
// 	@media (max-width: $md3) {
// 		position: fixed;
// 		z-index: 5;
// 		top: 0; 
// 		left: -100%; /*скрываем меню*/
// 		padding: 50px 10px 20px 10px;
// 		width: 100%;
// 		height: 100%;
// 		overflow: auto; /*на тот случай, если пункты меню не поместятся на экране*/
// 		background-color: #fff;
// 		transition: all 0.5s ease 0s;
// 		&.active {
// 			left: 0;
// 		}
// 	}
// }

//<TABS>=====================================================
// .tabs-content {
// 	.item {
// 		display: none;
// 	}
// 	.active {
// 		display: block;
// 	}
// }

//<SPOILERS>=================================================
// .spoilers {
// 	margin: 40px 0px 0px 0px;
// 	&__item {
// 		margin: 0px 0px 15px 0px;
// 	}
// 	&__title {
// 		position: relative;
// 		padding: 0px 0px 0px 30px;
// 		font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
// 		font-size: 24px;
// 		cursor: pointer;
// 		&:after, 
// 		&:before {
// 			content:'';
// 			position: absolute;
// 			top: 11px;
// 			width: 12px;
// 			height: 2px;
// 			background-color: #000;
// 		}
// 		&:after {
// 			left: 3px;
// 			transform: rotate(45deg);
// 			transition: all 0.3s ease 0s; 
// 		}
// 		&:before {
// 			left: 10px;
// 			transform: rotate(-45deg);
// 			transition: all 0.3s ease 0s; 
// 		}
// 		&.active:after {
// 			background-color: #007397;
// 			transform: rotate(-45deg);
// 		}
// 		&.active:before {
// 			background-color: #007397;
// 			transform: rotate(45deg);
// 		}
// 	}
// 	&__text {
// 		display: none;
// 		margin: 10px 0px 0px 0px;
// 		font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
// 		font-size: 16px;
// 		line-height: 20px;
// 	}
// }
//<DROP-DOWN MENU>===========================================
// .menu {
//     li {
//         position: relative;
//     }
//     &__list {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         &>li {
//             margin: 0px 15px 0px 0px;
//             @media (max-width: $md3) {
//                 margin: 0px 0px 10px 0px;
//                 padding: 0px 0px 0px 28px;
//             }
//         }
//         @media (max-width: $md3) {
//             display: block;
//         }
//     }
//     &__link {
//         color: #fff;
//     }
//     &__arrow {
//         @media (max-width: $md3) {
//             left: 0;
//         }
//     }
//     a.parent {
//         margin: 0px 30px 0px 0px;
//     }
// }
// .sub-menu {
//     &__list {
//         display: none;
//         position: absolute;
//         padding: 20px 0px 0px 0px;
//         min-width: 235px;
//         top: 20px;
//         left: 0;
//         &>li {
//             background-color: #fff;
//             @media (max-width: $md3) {
//                 padding: 0px 0px 0px 24px;

//             }
//         }
//         &.open {
//             display: block;
//         }
//         @media (max-width: $md3) {
//             position: relative;
//             top: 0;
//             left: 0;
//         }
//     }
//     &__link {
//         color: #000;
//         display: inline-block;
//         padding: 5px 10px;
//     }
//     &__arrow.arrow {
//         right: 7px;
//         border-left: 10px solid #000;
//         border-right: none;
//         border-top: 10px solid transparent;
//         border-bottom: 10px solid transparent;
//         @media (max-width: $md3) {
//             top: 14px;
//             left: 8px;
//             border-top: 10px solid #000;
//             border-bottom: none;
//             border-left: 10px solid transparent;
//             border-right: 10px solid transparent;
//         }
//     }
// }
// .sub-sub-menu {
//     &__list {
//         display: none;
//         position: absolute;
//         min-width: 250px;
//         padding: 0px 0px 0px 5px;
//         top: 0;
//         left: 100%;
//         &>li {
//             background-color: #000;
//         }
//         &.open {
//             display: block;
//         }
//         @media (max-width: $md3) {
//             position: relative;
//             top: 0;
//             left: 0;
//             padding: 0px 5px;
//         }
//     }
//     &__link {
//         color: #fff;
//         display: inline-block;
//         padding: 5px 10px;
//     }
// }
// .arrow {
//     display: none;
//     position: absolute;
//     top: 9px;
//     right: 0;
//     width: 0;
//     height: 0;
//     border-top: 10px solid #fff;
//     border-left: 10px solid transparent;
//     border-right: 10px solid transparent;
//     transition: all 0.7s ease 0s;
//     &.active {
//         transform: rotate(-180deg);
//     }
// }
// body.mouse {
//     .menu__list>li:hover .sub-menu__list,
//     .sub-menu__list>li:hover .sub-sub-menu__list {
//         display: block;
//     }
// }
// body.touchscreen .arrow {
//     display: block;
// }
// @media (max-width: $md3) {
//     body {
//         margin: 20px 0px 0px 0px;
//     }
// }